<div class="about">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h2>About the team</h2>
  </div>
    <div class="panel-body">

    <p>
      We are an American basketball team based in Portland, Oregon. We compete in the amateur basketball association as a member of the league's Western Division. The team plays its tournament games at the Moda Center. The head coach, Michael Jordan, is a former 6 time NBA champion with the Chicago Bulls.
    </p>
  </div>
  </div>
</div>
