<h2>Click on a player to view more information</h2>
<select (change)="onChange($event.target.value)">
  <option value="allPlayers" selected="selected">All Players</option>
  <option value="guard">guards</option>
  <option value="forward">forwards</option>
  <option value="center">centers</option>
</select>
<br><br>

<div *ngFor="let player of players | async | position:filterByPosition" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(player)"><strong>{{player.name}}</strong></h3>
    <h4><strong>{{player.position}}</strong></h4>
    <div *ngIf="currentRoute === '/admin'">
      {{player.description}}
      <hr>
      <app-edit-player [selectedPlayer]="player"></app-edit-player>
    </div>
  </div>
</div>
<br><br>
